div {
font-family: monospace;
    background-color: whitesmoke;
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 25px;

}

#background-section {
    background-color: lightslategrey;
    height: 600px;
    width: 700px;
}

#text-final {
    font-size: large;
    font-weight: bold;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

input {

    background-color: white;
    border: none;
}